/* configuación basica de un archivo CSS */

/* 1. Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* 2. Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');


/* 3. Estilos genrales */
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}

p,a,button,li,label,input,select,textarea,span{
    font-family: "Raleway", sans-serif;
}


/* 4. Variables */
:root{
    --primary-color: #e58411;
    --gray-color: #f7f7f7;
    --white-color: #fff;
    --color-dark: #1e1e1e;
    --fs-title1: 80px;
    --fs-title2: 38px;
    --fs-title3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;
}
/* 5. Desktop */
header{
    width: 100%;
    position: relative;
    height: 160vh;
    padding-top: 40px;
    background: url(../img/Rectangle\ 1441.png);
    background-size: cover;
    /* background-position: center; */
    background-position-x: center;
    background-position-y: bottom;
}

.bg-transparente{
    background: transparent;
}

header nav .logo{
    color: var(--white-color);
    font-weight: 700;
    font-size: 28px;
    transition: .5s;
}

header nav .logo:hover{
    color: var(--white-color);
    transform: scale(1.2);
}

#navbarNav ul a{
    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid transparent;
}

#navbarNav ul a:hover{
    border-bottom: 1px solid var(--white-color);
}

header .bag-button{
    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 25px;
    position: relative;
}

header .bag-button .conter-products{
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: -10px;
}

#hero{
    width: 100%;
    text-align: center;
    padding: 90px 200px;
}

#hero h2{
    font-size: var(--fs-title1);
    color: var(--white-color);
    font-weight: 600;
}

#hero p{
    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 40px 450px;
}

#hero form{
    width: 400px;
    position: relative;
    margin: 0 auto;
}

#hero form input{
    border-radius: 40px;
    padding: 15px 50px 15px 20px;
    font-size: var(--fs-title4);
    width: 344px;
    border: 2px solid #fff;
    background: #ffffff4b;
    color: var(--white-color);
    outline: none;
}

#hero form input::placeholder{
    color: var(--white-color);
}

#hero form button{
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    color: var(--white-color);
    position: absolute;
    top: 16%;
    right: 9%;
}




/* Estilos MAIN */

#choosing-us{
    width: 100%;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;
}

#choosing-us h2{
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--color-dark);
    padding-top: 20px;
}

#choosing-us h3{
    font-size: var(--fs-title3);
    font-weight: 700;
    color: var(--color-dark);
}

#choosing-us p{
    font-size: var(--fs-text);
    margin-top: 20px;
    color: var(--color-dark);
}

#choosing-us a{
    color: var(--primary-color);
    text-decoration: none;
}

#choosing-us a i{
    margin-left: 4px;
    transition: .5s;
}

#choosing-us a:hover i{
    margin-left: 15px;
}

#products{
    width: 100%;
    position: relative;
    background: var(--gray-color);
    text-align: center;
    padding: 50px 0;


}
#products h2{
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--color-dark);
    margin-bottom: 40px;
}
#products ul{
    width: 420px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}
#products li button{
    color: var(--color-dark);
    padding: 10px 30px;
    border: none;
}
#products li button.active{
    background: var(--white-color);
    border-radius: 30px;
    border: none;
}
#products li button:hover{
    border: none;
}



#products .card-product{
    margin: 0 15px;
}

#products .card-product .cont-img{
    background: #e6e6e6;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 20px 20px 0 0;
}



#products .card-product .cont-img img{
    width: 220px;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#products .slick-list{
    padding: 150px 0;
}

#products .cont-info{
    background: var(--white-color);
    text-align: left;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
#products .cont-info p.category{
    font-size: var(--fs-text);
    color: #8d8d8d;
}
#products .cont-info h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--color-dark);
}

#products .stars i{
    color: #f6b76f;
}

#products .stars{
    margin-bottom: 30px;
}

#products .card-product h4{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    margin: 0;
}

#products .card-product h4 span{
    font-size: 15px;
    margin-right: 4px;
}

#products .card-product button{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: #0d1b39;
    border: none;
    color: var(--white-color);
    font-size: 24px;
}
#products .slick-arrow{
    background: var(--white-color);
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50%;
    border: 1px solid #dbdada;
}
#products .slick-arrow::before{
    color: #0d1b39;
}

#experiences{
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#experiences .cont-img{
    position: relative;
    left: -20px;
}

#experiences .cont-img img{
    box-shadow: -15px 16px 15px -10px #af7d43;
}

#experiences .cont-img::before{
    content: "";
    width: 400px;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: -60px;
    border-radius: 20px;
}
#experiences .cont-img::after{
    content: "";
    width: 495px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    left: 190px;
    bottom: 70px;
    border-radius: 20px;
}



#experiences .cont-info{
    padding: 20px 60px 0 0;
}
#experiences .cont-info h3{
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 18px;
}

#experiences .cont-info h2{
    font-size: var(--fs-title2);
    color: var(--color-dark);
    font-weight: 700;
    width: 490px;
    margin-bottom: 25px;
}

#experiences .cont-info p{
    color: var(--color-dark);
    font-size: var(--fs-text);
    width: 560px;
    margin-bottom: 25px;
}

#experiences .cont-info a{
    color: var(--primary-color);
    text-decoration: none;
}

#experiences .cont-info a i{
    margin-left: 4px;
    transition: .5s;
}

#experiences .cont-info a:hover i{
    margin-left: 15px;
}

#materials{
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#materials h3{
    font-size: var(--fs-title3);
    color: var(--primary-color);
    font-size: 20px;
    margin-top: 110px;
}
#materials h2{
    font-size: var(--fs-title2);
    color: var(--color-dark);
    font-weight: 700;
    width: 410px;
}
#materials .cont-info{
    padding: 100px;
}

#materials .cont-info p{
    font-size: var(--fs-text);
    color: var(--color-dark);
    width: 556px;
    margin-top: 20px;
}
#materials .cont-info a{
    color: var(--primary-color);
    text-decoration: none;
}
#materials .cont-info a:hover i{
    margin-left: 15px;

}

#materials .cont-info a i{
    margin-left: 4px;
    transition: .5s;
}

#materials .cont-img-left img{
    border-radius: 20px;
    margin-bottom: 35px;
    margin-left: 220px;
    box-shadow: 0px 20px 20px 0px #b49692;
}
#materials .cont-img-right img{
    border-radius: 20px 0 0;
    position: relative;
    right: -178px;
    bottom: -100px;
    box-shadow: 20px 11px 20px 0px #af7d43;

}

#materials .cont-img-right::before{
    content: "";
    width: 240px;
    height: 240px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: 180px;
    right: 0px;
    border-radius: 20px 0 0 0;
}

#reviews{
    width: 100%;
    position: relative;
    padding: 90px;
    text-align: center;
}

#reviews h3{
    font-size: var(--fs-title3);
    font-weight: 700;
    color: var(--primary-color);
    font-size: 18px;
}

#reviews h2{
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--color-dark);
    padding-top: 20px;
    margin-bottom: 70px;
}

#reviews .card-review{
    position: relative;
    left: 31px;
}

#reviews .card-review .cont-info{
    background: var(--white-color);
    position: absolute;
    width: 78%;
    bottom: 20px;
    border-radius: 30px;
    left: 4%;
    padding-bottom: 15px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#reviews .card-review .cont-info img{
    position: absolute;
    margin: 0 auto;
    top: -35px;
    left: 0;
    right: 0;
    border: 10px solid #fff;
    border-radius: 50%;
}

#reviews .stars i{
    color: #f6b76f;
}

#reviews .stars i:nth-child(5){
    opacity: 0.5;
}
#reviews .card-review .cont-info h4{
    font-size: var(--fs-title4);
    color: var(--color-dark);
    margin-bottom: 10px;
    font-weight: 700;
}

#reviews .card-review .cont-info h5{
    font-size: 12px;
    color: #666;
    color: var(--color-dark);
    font-weight: 300;
}
#reviews .card-review .cont-info p{
    width: 280px;
}



#reviews .slick-arrow{
    background: var(--white-color);
    width: 50px;
    height: 50px;
    padding-top: 5px;
    z-index: 999;
    border-radius: 50%;
    border: 1px solid #dbdada;
}
#reviews .slick-arrow::before{
    color: #0d1b39;
}


footer{
    width: 100%;
    position: relative;
    padding: 90px;
    background: #f7f7f7;
}
footer .logo1{
    color: var(--color-dark);
    font-weight: 600;
    font-size: 28px;
}

footer h2{
    color: var(--primary-color);
    font-weight: 700;
}

footer h3{
    color: var(--primary-color);
    font-size: 17px;
}
footer p{
    font-size: var(--fs-text);
    color: var(--color-dark);
    width: 310px;
}

footer a{
    text-decoration: none;
    color: var(--color-dark);
    display: block;
    margin-bottom: 10px;
}

footer .info{
    padding-top: 60px;
    display: flex;
}

footer .info a{
    margin-right: 50px;
}

/* 6. Estilos responsive Tablet */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    header{
        height: 124vh;
    }
    #hero{
        padding: 90px 50px;
    } 

    #hero p{
        padding: 40px 30px;
    }

    #experiences .cont-img img{
        width: 100%;
    }
    #experiences .cont-info p{
        width: 340px;
    }
    #materials .cont-info p{
        width: 370px;
    }
    #materials .cont-img-left img{
        margin-left: 80px;
    }

    #materials .cont-img-right img{
        width: 100%;
        right: -11px;
        bottom: -545px;
        left: -458px;
    }

    #materials .cont-img-left img{
        margin-bottom: 257px;
    }
    #materials .cont-img-left img{
        width: 189px;
    }

    .slider-reviews {
        display: flex;
        gap: 20px; /* espacio entre tarjetas */
        padding: 20px 10px;
        overflow-x: auto;
    }   

    #reviews .card-review .cont-info p{
        width: 182px;
    }

    #reviews .card-review .cont-info{
        padding-left: 33px;
    }

 




    
}

/* 7. Estilos responsive Smartphone */
@media screen and (min-width: 320px) and (max-width: 767px) {
    /* #hero {
    padding: 60px 20px; /* Reduce el padding para que entre todo */
  /* }
  header .bag-button{
    position: absolute;
    margin-left: 326px;
  }  */

  /* #hero h2 {
    font-size: 1.5rem;  /* Título más pequeño */
    /* line-height: 1.3;
    margin-bottom: 15px;
  }

  #hero p {
    font-size: 0.95rem;  /* Más pequeño pero visible */
    /* line-height: 1.5;
    margin-bottom: 25px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }  */

  /* #hero form {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
  }

  #hero input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
  } */
/* 
  #hero button {
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 1.2rem;
  } */
    header{
        height: 100vh;
    }
    header .bag-button{
        display: none;
        right: 40px;
    }
    #hero{
        padding: 11px 20px;
    }

    #hero h2{
        font-size: var(--fs-title2);
        padding: 0 -4px;
    }


    #hero p{
        padding: 12px 20px;
    }


    #hero form{
        width: 390px;
    }


    #hero form input{
        width: 300px;
        padding: 10px 30px 10px 10px;
    }


  #experiences .cont-img img{
    width: 100%
  }
  #experiences .cont-info h2{
    width: 327px;
  }
  #experiences .cont-info p {
    width: 349px;
  }
  #materials h2{
    width: 100%;
  }
  #materials .cont-info p{
    width: 225px;
  }
  #materials .cont-img-left img{
    margin-left: 75px;
  }

  #materials .cont-img-right img{
    width: 290px;
    margin-left: -130px;
  }

  footer p{
    width: 190px;
  }


}
    